.container
  .row
    .col.l6.offset-l3.s12
      .card.white.black-text
        .card-content
          %span.card-title Register
          .row
            .col.s12.input-field
              %input#txt-name.validate{type: "text"}
              %label{for: 'txt-name'} Name
          .row
            .col.s12.input-field
              %input#txt-email.validate{type: "text"}
              %label{for: 'txt-email'} E-mail
          .row
            .col.s12.input-field
              %input#txt-password.validate{type: "password"}
              %label{for: 'txt-password'} Password
          .row
            .col.s12.addict.errors
          .row
            .col.s12.input-field
              %a#btn-register.waves-effect.waves-light.btn Register
        .card-action
          %a{href: "/login"} Login
