.container
  .row
    .col.s6.offset-s3
      .card.white.black-text
        .card-content
          %span.card-title Edit Recurring Transaction
          = render "form.html", account_map: @account_map, changeset: @changeset, action: recurrence_path(@conn, :create)
          = link "Back", to: page_path(@conn, :index)
