.container
  .row
    .col.s6.offset-s3
      .card.white.black-text
        .card-content
          %span.card-title Edit Account
          = render "form.html", user_id: @user_id, changeset: @changeset, action: account_path(@conn, :update, @account)
          = link "Back", to: page_path(@conn, :index)
